extends layout

block content
    .page-header
        h3 Download:

    form.form-horizontal(method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
            label(class='col-sm-2 control-label', for='fromdate') From:
            .col-sm-4
                div.input-group.date(data-provide="datepicker")
                    input.form-control(type="text", id="fromdate", name="Fromdate", placeholder="from")
                    div.input-group-addon
                        span.glyphicon.glyphicon-th
            label(class='col-sm-2 control-label', for='todate') To:
            .col-sm-4
                div.input-group.date(data-provide="datepicker")
                    input.form-control(type="text", id="todate", name="Todate", placeholder="to")
                    div.input-group-addon
                        span.glyphicon.glyphicon-th
        .form-group
            label(class='col-sm-2 control-label', for='building') Building
            .col-sm-6
                select.selectpicker.form-control(multiple, id="building", name="building")
                    option GPO                  
                    option Castletown house
                    option the gartden shed
        .form-group
            label(class='col-sm-2 control-label', for='pi') Pi
            .col-sm-6
                select.selectpicker.form-control(multiple, id="pi", name="pi")
                    option east wall                  
                    option west wall
                    option north wall 
                    option south wall 
        .form-group   
            label(class='col-sm-2 control-label', for='sensor') Sensor
            .col-sm-6
                select.selectpicker.form-control(multiple, id="sensor", name="sensor")
                    option Bmp180                  
                    option Hflux
                    option Cavity Temp
                    option Mlx906                  
                    option Sht15
                    option Sdp610
        .form-group
            label(class='col-sm-2 control-label', for='format') Format:
            .col-sm-6
                select.selectpicker.form-control(multiple, id="format", name="format")
                    option json                  
                    option xml
                    option excel    
        .form-group
            .col-sm-offset-2.col-sm-8
                button.btn.btn-primary(type='submit')
                    | Download
