extends layout

block content
  div.top
    div.mirgin
      h2 
        div(ng-controller="ctrller")
            p hflux count: {{count}}


    label Download
    div.container
      div.content
        form(method="post", action="download", id="downloadForm")
          div.row      
            div.col-md-5
              div.form-group
                label From:
                div.input-group.date(data-provide="datepicker")
                  input.form-control(type="text", id="fromdate", name="Fromdate", placeholder="from")
                  div.input-group-addon
                      span.glyphicon.glyphicon-th
            div.col-md-5
              div.form-group
                label To:
                div.input-group.date(data-provide="datepicker")
                  input.form-control(type="text", id="todate", name="Todate", placeholder="to")
                  div.input-group-addon
                      span.glyphicon.glyphicon-th   
          div.row
            div.col-md-5
              div.form-group
                label Sensor:
                select.selectpicker(multiple, id="sensor", name="Senor")
                  option Bmp180                  
                  option Hflux
                  option Cavity Temp
                  option Mlx906                  
                  option Sht15
                  option Sdp610
            div.col-md-5
              div.form-group
                label Format:
                select.selectpicker(id="format", name="Format")
                  option csv                  
                  option xml
          div.row
            div.col-md-4
              div.form-group 
                input.btn(type="submit", value="download" class="btn btn-default") 
  
  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js")
  script(src="controllers/readingController.js")