
doctype html
html(ng-app="mApp")
  head
    title= title
    link(rel='stylesheet', type='text/css', href='bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet',  type='text/css', href='stylesheets/style.css')
    link(rel='stylesheet',  type='text/css', href='bootstrap/bootselect/dist/css/bootstrap-select.css')   
    script(type='text/javascript', src='javascript/jquery-3.1.1.min.js')
    script(type='text/javascript', src='bootstrap/js/bootstrap.min.js')
    script(type='text/javascript', src='bootstrap-datepicker-master/js/bootstrap-datepicker.js')
    script(type='text/javascript', src='bootstrap/bootselect/dist/js/bootstrap-select.js')
    script(type='text/javascript', src="javascript/highcharts.js")
    
  body

    block content
    
    