extends layout

block content
  div.top
    h2 
        div(ng-controller="ctrller")
            p hflux count: {{count}} 
              @ {{time}}
            

  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js")
  script(src="controllers/readingController.js")